In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train_anotations.csv')
train

                               image_path plate_text
0     train/2020-16-07_1227-02_95_510.png     RTU908
1     train/2020-16-07_1227-13_30_826.png     GKH501
2     train/2020-16-07_1227-20_30_900.png    AB561EY
3     train/2020-16-07_1228-25_81_531.png     OCP217
4     train/2020-16-07_1229-16_14_383.png     EMG063
...                                   ...        ...
2868  train/2020-31-07_1333-32_11_701.png    A021GTY
2869  train/2020-31-07_1442-14_00_639.png    A044OBI
2870  train/2020-31-07_1503-18_03_166.png    A108AOZ
2871  train/2020-31-07_1513-14_03_781.png    A085DEQ
2872   train/2020-31-07_1531-18_04_53.png    A054XLP

[2873 rows x 2 columns]

In [ ]:
train = train[0:0]
train['image_path'] = ['train/' + str(i) + '.jpg' for i in range(1, 187)]
train

C:\Users\Tharusha\AppData\Local\Temp\ipykernel_30948\1169467144.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['image_path'] = ['train/' + str(i) + '.jpg' for i in range(1, 187)]

        image_path plate_text
0      train/1.jpg        NaN
1      train/2.jpg        NaN
2      train/3.jpg        NaN
3      train/4.jpg        NaN
4      train/5.jpg        NaN
..             ...        ...
181  train/182.jpg        NaN
182  train/183.jpg        NaN
183  train/184.jpg        NaN
184  train/185.jpg        NaN
185  train/186.jpg        NaN

[186 rows x 2 columns]

In [7]:
valid = pd.read_csv('valid_anotations.csv')
valid

                                       image_path plate_text
0             valid/2020-01-08_1133-48_46_332.png     DVS325
1             valid/2020-01-08_1203-00_25_327.png    AC219KT
2             valid/2020-01-08_1225-17_03_939.png     PLG044
3             valid/2020-01-08_1237-24_53_941.png     HQX087
4             valid/2020-01-08_1250-07_04_627.png     PHX635
..                                            ...        ...
758  valid/2020-18-08_1738-05_39_3609_cropped.png     OZP234
759  valid/2020-18-08_1738-05_76_7826_cropped.png     VVZ839
760  valid/2020-18-08_1738-06_12_5247_cropped.png    AB885DV
761  valid/2020-18-08_1738-06_44_6024_cropped.png     BWG687
762  valid/2020-18-08_1738-06_92_6091_cropped.png    AC705FU

[763 rows x 2 columns]

In [14]:
valid = valid[0:0]
valid['image_path'] = ['valid/' + str(i) + '.jpg' for i in range(1, 52)]
valid.head()

    image_path plate_text
0  valid/1.jpg        NaN
1  valid/2.jpg        NaN
2  valid/3.jpg        NaN
3  valid/4.jpg        NaN
4  valid/5.jpg        NaN

In [ ]:
# train.to_csv('train_anotations.csv', index=False)
# valid.to_csv('valid_anotations.csv', index=False)